<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869392008384-bqp32ipkj6nkjfs80ug3a7kh0tfjbpa0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869392008384-bqp32ipkj6nkjfs80ug3a7kh0tfjbpa0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>869392008384-l5gm50a805fik8fca1k32qpb9e7gi7p5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAp6t4MYKJAEtUxcQxKPtk1qa-QzRghYQY</string>
	<key>GCM_SENDER_ID</key>
	<string>869392008384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arabaps.floria</string>
	<key>PROJECT_ID</key>
	<string>floria-d1d99</string>
	<key>STORAGE_BUCKET</key>
	<string>floria-d1d99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869392008384:ios:df16da8fb2e47179a2d925</string>
	<key>DATABASE_URL</key>
	<string>https://floria-d1d99.firebaseio.com</string>
</dict>
</plist>